*
!.gitignore
!store/
!product/

# dummy store 
!store/toko-elektronik-pramuka/
!store/toko-elektronik-pramuka/**

!store/supermarket-utama/
!store/supermarket-utama/**

!store/warung-kopi-matraman/
!store/warung-kopi-matraman/**

!store/fashion-store-rawamangun/
!store/fashion-store-rawamangun/**

!store/toko-buku-salemba/
!store/toko-buku-salemba/**

!store/minimarket-sejahtera-matraman/
!store/minimarket-sejahtera-matraman/**

!product/aksesoris/
!product/aksesoris/**

!product/fashion/
!product/fashion/**

!product/makanan-minuman/
!product/makanan-minuman/**

!product/souvenir/
!product/souvenir/**

!product/tanaman/
!product/tanaman/**
